/*
Jakub Wawak
kubawawak@gmail.com
*/
body {
  margin: 0;
  background-color: black;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.notes-list{
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
}

.note.new{
  background-color: rgb(89, 163, 135);
}

textarea{
  border: none;
  background-color: rgb(89, 163, 135);
  resize: none;
}

.save{
  background-color: gray;
  border: none;
  border-radius: 15px;
  padding: 5px 10px 5px 10px;
}

.save:hover{
  background-color: rgb(150, 196, 178);
  cursor: pointer;
}

textarea:focus{
  outline: none;
  color: white
}

.note{
  background-color: #649ec0;
  border-radius: 10px;
  padding: 10px;
  padding: 1rem;
  min-height: 190px; /*minimal component height*/
  display: flex;     /*component creates flex style - sets primary elements with orgins*/
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap;
}

.note-footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search{
  display: flex;
  align-items: center;
  background-color: aqua;
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
  margin-bottom: 1.5em;
}

.search input{
  border: none;
  background-color: aqua;
}

.search input:focus{
  outline: none;
}

.header{
  color: white;
}